@import '~mdb-ui-kit/css/mdb.min.css';
@font-face {
  font-family: 'faktum';
  src: url('./Font/Faktum/Faktum-regular.otf');
}

#auth {
  display: flex;
  flex-direction: row-reverse;
  font-size: medium;
}

.container {
  margin: 2rem auto auto auto;
  height: 90vh;
  font-family: faktum, Arial, Helvetica, sans-serif;
}